// Color Variables
$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

//Font Variables
$fontFamily: 'League Spartan', sans-serif;

//Font Weights
$F-w-400: 400;
$F-w-500: 500;
$F-w-700: 700;